In [1]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import time
import pandas as pd
import numpy as np
import csv

In [2]:
chromedriver_location = "D:\Setups\chromedriver"
driver = webdriver.Chrome(chromedriver_location)
driver.get('http://srivalab.cse.iitk.ac.in:3004/')
roll = '//*[@id="rollno"]'
submit = '/html/body/button'

In [3]:
aa = np.arange(190001,191182)
aa

array([190001, 190002, 190003, ..., 191179, 191180, 191181])

In [4]:
with open('marks.csv','a',encoding  = 'utf-8',newline = '') as csv_file:
    writer = csv.writer(csv_file)
    for i in aa:
        try:
            driver.find_element_by_xpath(roll).clear()
            driver.find_element_by_xpath(roll).send_keys(str(i))
            driver.find_element_by_xpath(submit).click()
            WebDriverWait(driver,3).until(EC.alert_is_present(),'Timed out waiting for PA creation'+ 'conformation popup to appear.')
            driver.switch_to.alert.accept()

        except TimeoutException: 
            #driver.switchTo().alert().accept()
            #driver.find_element_by_xpath(roll).clear()
            #driver.find_element_by_xpath(roll).click()
            #driver.find_element_by_xpath(roll).send_keys(str(i))
            #driver.find_element_by_xpath(submit).click()
            name = driver.find_element_by_xpath('//*[@id="name"]').text
            section = driver.find_element_by_xpath('//*[@id="section"]').text
            minor = driver.find_element_by_xpath('//*[@id="mqsum"]').text
            lab = driver.find_element_by_xpath('//*[@id="lasum"]').text
            maj= driver.find_element_by_xpath('//*[@id="MQ"]').text
            midlab= driver.find_element_by_xpath('//*[@id="midsemlab"]').text
            midtheory = driver.find_element_by_xpath('//*[@id="midsem"]').text
            total = driver.find_element_by_xpath('//*[@id="total"]').text
            grade = driver.find_element_by_xpath('//*[@id="grade"]').text
            writer.writerow([name,section,minor,lab,maj,midlab,midtheory,total,grade])

In [5]:
nmarks = pd.read_csv('marks.csv')
nmarks

                    A GAYATHRI   A3  48  100  36  18  54  45  S
0             AAKARSHIKA SINGH   A7  72  100  66  42  48  55  B
1                 AAKASH SINGH   A4  44  100  52  15  40  40  S
2                  AARJAV JAIN  A11  72  100  46  51  57  59  B
3                 AARYAN MEHAR  A10  38  100  38   0  33  30  S
4        AARYANSH MOHAN BANSAL  A12  86  100  55  24  76  60  B
..                         ...  ...  ..  ...  ..  ..  ..  .. ..
499  WARUNGASE RUTUJ BALASAHEB   A1  24  100  16  20  25  30  S
500        YADAV AMAN MURATLAL   A2  75  100  61  55  54  61  B
501             YASH CHOUDHARY   A5  69  100  44  17  36  40  S
502       YASH GUPTA (P Gupta)  A10  80  100  60  51  62  64  B
503             YASHASVI LOHAR   A7  57  100  48  23  41  43  S

[504 rows x 9 columns]

In [8]:

nmarks.sort_values(by = '45',ascending = False)

             A GAYATHRI   A3   48  100  36   18  54  45    S
37        ADITYA RANJAN   A5   72  100  86  100  85  90    A
411        SHORYA KUMAR  A11   72  100  82   95  83  88    A
128  DAWOOD BIN MANSOOR  A12  100  100  70   89  79  85    A
224      KRATIK AGRAWAL   A4   86  100  76   92  75  84    A
312  PRAKHAR MAHESHWARI   A1   92  100  74   99  68  84    A
..                  ...  ...  ...  ...  ..  ...  ..  ..  ...
111    AYUSHI CHAUDHARY   A8   15   20  12    5  21  14  DRG
49                AKHIL   A9    0   40  37    0  15  14  DRG
290        NITESH KUMAR   A6   15   15  20    0  17  12  DRG
20       ABHISHEK MEENA   A3    0   80  24    0   0  10  DRG
27       ADARSH BADERIA  A11    0   20   0    0   0   2  DRG

[504 rows x 9 columns]

nmarks

In [10]:
nmarks.to_csv('ESC101.csv',index = False)

In [39]:
df = pd.DataFrame(list())
df.merge(df,xy)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False